#left{
float:left;
width:230px;
height:300px;
border-right:1px solid black;
}

#right{
float:right;
height:300px;
width:600px;
}

#Outer{
width:850px;
height:300px;
border:1px solid black;
background-color:pink;
}

#video{
height:362px;
width:950px;
border:1px solid black;
background-color:pink;
}
